.root {
    -fx-background-color: #353535
}

.button {
    -fx-min-width: 100px;
}

#text {
    -fx-text-fill: white;
    -fx-text-inner-color: white;
    -fx-background-color: #2f2d2f;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 1 0 0 0;
}

#money, #notes, #wallet, #walletImg, #walletOne, #walletTwo {
    -fx-padding: 10;
}

#money, #notes, #wallet {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 2;
    -fx-border-color: black;
}

#walletActions {
    -fx-padding: 25px;
}

#walletDisplay {
    -fx-padding: 0px;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 2;
    -fx-border-color: black;
}

.label {
    -fx-text-fill: white;
    -fx-padding: 5px;
}

#ca, #no, #wa {
    -fx-text-fill: white;
    -fx-background-color: #353535;
    -fx-background-insets: -20 -5 0 -5;
    -fx-padding: -19 0 10 0;
}

/* .button {
    -fx-text-fill: white;
    -fx-background-color: #202020;
    -fx-background-radius: 5px;
} */

/* .button:hover {
    -fx-background-color: #ff4fd3;
}

.button:pressed {
    -fx-background-color: #8d006e;
} */
