.root {
    -fx-background-color: #1a1a1a;
}

/* #btnMode {
    -fx-background-radius: 100;
    -fx-background-color: #EAD7D7;
} */

#mode {
    -fx-background-radius: 100;
    -fx-background-color: #EAD7D7;
}

/*Main menu styles*/

#menuBorder {
    -fx-border-color: #5e5e5e;
    -fx-padding: 10px;
    -fx-border-radius: 20px;
    -fx-border-width: 5px;
}

#chooseTxt {
    -fx-text-fill: #5e5e5e;
}

#greeting {
    -fx-text-fill: #fff;
}

#cardBtn, #walletBtn, #noteBtn {
    -fx-font-family: Verdana;
    -fx-font-size: 30px;
    -fx-background-color: #47354E;
    -fx-text-fill: #fff;
    -fx-background-radius: 10;
    -fx-opacity: 1;
    -fx-background-insets: 5px;
}

#savedata, #loadData {
    -fx-background-color: #47354E;
    -fx-text-fill: #fff;
}

#saveStatusTxt {
    -fx-text-fill: #145214;
}

#loadStatusTxt {
    -fx-text-fill: #1e44c0;
}

/*cards view styles*/

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #5e5e5e;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane {
    -fx-tab-min-width:100px
}

.tab-pane .tab {
    -fx-background-color: #5e5e5e;

}

.tab-pane .tab:selected {
    -fx-background-color: #1a1a1a;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #47354E;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
}

.button {
    -fx-background-color: none;
}

#btnMode {
    -fx-background-radius: 100;
    -fx-background-color: none;
}

.bord {
    -fx-border-color: #5e5e5e;
    -fx-border-insets: 10px;
}

.txt {
    -fx-background-radius: 0;
}

.vCrd {
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
}

#clearCredDeb, #createCredit, #createDebit, #clearPer, #createPer {
    -fx-background-color: #1a1a1a;
}

.eCard:hover {
    -fx-background-color: #47354E;
}

.hover:hover {
    -fx-background-color: #47354E;
}

/*cash view style*/

#showCash {
    -fx-text-fill: #145214;
}

/* notes view style */


#delBtn {
    -fx-background-color: #801616;
}

#noteEdit{

    -fx-text-fill: #d4d4d4;
    -fx-control-inner-background: #3b3b3b;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-prompt-text-fill: #a2a2a2;

}
#noteEdit .content {
    -fx-background-radius: 0 ;
}

.noteBtn {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
}

.noteBtn:hover {
    -fx-background-color: #47354E;
}

/* add funds view */

#msg {
    -fx-text-fill: #145214;
}

/* payment view styles */

.pBtn {
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
}

.pBtn:hover {
    -fx-background-color: #47354E;
}

#makePayment {
    -fx-background-color: #801616;
}