.root {
    -fx-background-color: #ead7d7;
}

#mode {
    -fx-background-radius: 100;
    -fx-background-color: #070707;
}

/*main menu style*/

#menuBorder {
    -fx-border-color: #b2abd9;
    -fx-padding: 10px;
    -fx-border-radius: 20px;
    -fx-border-width: 5px;
}

#chooseTxt {
    -fx-text-fill: #b2abd9;
}

#greeting {
    -fx-text-fill: #fff;
}

#cardBtn, #walletBtn, #noteBtn, #payBtn {
    -fx-font-family: Verdana;
    -fx-font-size: 30px;
    -fx-background-color: #aed1d1;
    -fx-text-fill: #000;
}

#saveStatusTxt {
    -fx-text-fill: #3fb13f;
}

#loadStatusTxt {
    -fx-text-fill: #379cd6;
}

/*card view style*/

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #b2abd9;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane {
    -fx-tab-min-width:100px
}

.tab-pane .tab {
    -fx-background-color: #5e5e5e;

}

.tab-pane .tab:selected {
    -fx-background-color: #ead7d7;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #aed1d1;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000;
}

.button {
    -fx-background-color: none;
}

#btnMode {
    -fx-background-radius: 100;
    -fx-background-color: none;
}

.bord {
    -fx-border-color: #b2abd9;
    -fx-border-insets: 10px;
}

.vCrd {
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
}

#clearCredDeb, #createCredit, #createDebit, #clearPer, #createPer {
    -fx-background-color: #ead7d7;
}

/* .eCard:focused {
    -fx-background-color: #aed1d1;
} */

.eCard:hover {
    -fx-background-color: #aed1d1;
}

/*cash view style*/

#showCash {
    -fx-text-fill: #3fb13f;
}

/* note view style */

#delBtn {
    -fx-background-color: #c93939;
}

#noteEdit{

    -fx-text-fill: #000;
    -fx-control-inner-background: #fff;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-prompt-text-fill: #a2a2a2;

}
#noteEdit .content {
    -fx-background-radius: 0 ;
}

.noteBtn:focused {
    -fx-background-color: #aed1d1;
}

.noteBtn:hover {
    -fx-background-color: #aed1d1;
}

/* add funds view */
#msg {
    -fx-text-fill: #3fb13f;
}

/* payment view styles */

.pBtn {
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
}

.pBtn:hover {
    -fx-background-color: #aed1d1;
}

#makePayment {
    -fx-background-color: #c93939;
}